{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}Benjamin Lordi - Data Scientist{% endblock title %}</h2>
{% endblock header %}

{% block content %}
<section class="bio-section">
     <div class="bio-image">
      <img src="{{ url_for('static', filename='images/bio-photo.jpg') }}" alt="Professional headshot" class="profile-img">
    </div>
    <div class="bio-text">
      <h3>About Me</h3>
      <p>
        A data professional with deep data science and data security experience.
          I specialize in uncovering the story behind the numbers, programming tools and models to answer pressing business questions,
          and communicating important insights to a non-technical audience.
      </p>
      <p>
        My expertise spans machine learning, statistical analysis, data visualization, and secure data handling practices.
          I also have experience in digital forensics and incident response, and threat intelligence.
      </p>
      <p>
        When I'm not diving deep into data, I enjoy rock climbing, backpacking, cooking, playing all sorts of games
          and continuously learning about emerging technologies in the data science field.
      </p>
    </div>

  </section>
  <!-- Hero/Picture Section -->
  <section class="hero-section">
    <img src="{{ url_for('static', filename='images/hero-photo.jpg') }}" alt="Data Scientist" class="hero-image">
  </section>
{% endblock content %}